SPRING_PROFILES_ACTIVE=dev
DB_HOST=localhost
DB_PORT=5433
DB_NAME=ageninlite_db
DB_USER=agenin
DB_PASSWORD=agenin
DB_SSL_MODE=disable
SERVER_PORT=8080
JWT_SECRET=CHANGE_ME_MIN_32_CHARS_LONG_KEY_HERE_FOR_DEVELOPMENT
